<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="error">
  Error :(
  <p>{{error}}</p>
</div>
<div *ngIf="allLinks">
  <div *ngFor="let link of allLinks">
    <p>{{link.id}}: {{link.url}}</p>
    <p>{{link.description}}</p>
  </div>
</div>
<router-outlet></router-outlet>
